{#{% extends 'base.html' %}#}
{##}
{#{% block content %}#}
{#<body>#}
{#  <div class="container-scroller">#}
{#    <div class="container-fluid page-body-wrapper full-page-wrapper">#}
{#      <div class="content-wrapper d-flex align-items-center auth px-0">#}
{#        <div class="row w-100 mx-0">#}
{#          <div class="col-lg-4 mx-auto">#}
{#            <div class="auth-form-light text-left py-5 px-4 px-sm-5">#}
{#              <div class="brand-logo">#}
{#                <img src="{% static "img/logo.svg" %}" alt="logo">#}
{#              </div>#}
{#              <h4>Hi！开始测试之旅吧！</h4>#}
{#              <h6 class="font-weight-light">请先登录</h6>#}
{#              <form action="/index/" method="post" class="pt-3">#}
{#                <div class="form-group">#}
{#                  <input type="text" name="username" class="form-control form-control-lg" placeholder="Username">#}
{#                </div>#}
{#                <div class="form-group">#}
{#                  <input type="password" name="password" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Password">#}
{#                </div>#}
{#                <div style="color: crimson">{{ error_msg }}</div>#}
{#                {% csrf_token %}#}
{#                <div class="mt-3">#}
{#                  <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" type="submit">登 录</button>#}
{#                </div>#}
{#                <div class="my-2 d-flex justify-content-between align-items-center">#}
{#                  <div class="form-check">#}
{#                    <label class="form-check-label text-muted">#}
{#                      <input type="checkbox" class="form-check-input">#}
{#                      记住密码#}
{#                    </label>#}
{#                  </div>#}
{#                  <a href="#" class="auth-link text-black">忘记密码？</a>#}
{#                </div>#}
{#                <div class="mb-2">#}
{#                  <button type="button" class="btn btn-block btn-facebook auth-form-btn">#}
{#                    <i class="mdi mdi-facebook mr-2"></i>Connect using facebook#}
{#                  </button>#}
{#                </div>#}
{#                <div class="text-center mt-4 font-weight-light">#}
{#                  还没有账号? <a href="register.html" class="text-primary">Create</a>#}
{#                </div>#}
{#              </form>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#      <!-- content-wrapper ends -->#}
{#    </div>#}
{#    <!-- page-body-wrapper ends -->#}
{#  </div>#}
{#  <!-- endinject -->#}
{#</body>#}
{#{% endblock %}#}
{##}


{% extends 'base.html' %}

{% block title %}
    接口自动化
{% endblock %}


{% block content %}
<body style="padding-top: 40px;padding-bottom: 40px;
            background-image: url('https://i0.hippopx.com/photos/885/26/342/wave-signal-communication-technology-preview.jpg');
            {#background-image: url('https://i0.hippopx.com/photos/720/852/960/lake-water-wave-mirroring-preview.jpg');#}
            background-repeat: no-repeat;
            background-size: auto 1080px">

    <div class="container">

        <form action="/index/" method="post" style="max-width: 330px;padding: 15px;margin: 0 auto;" class="form-signin" >
            <h2 style="width: 300px;color: #faffc4" class="form-signin-heading">Please sign in</h2>
            <label style="width: 300px" for="inputUsername" class="sr-only">username</label>
            <input style="width: 300px" type="text" id="inputUsername" name="username" class="form-control" placeholder="username" required autofocus>
            {##}
            <label style="width: 300px" for="inputPassword" class="sr-only">password</label>
            <input style="width: 300px" type="password" id="inputPassword" name="password" class="form-control" placeholder="password" required>
            <div style="color: crimson">{{ error_msg }}</div>
            </br>
            {% csrf_token %}
            <button style="width: 300px" class="btn btn-lg btn-primary btn-block" type="submit">登 录</button>
        </form>

    </div>

</body>
{% endblock %}