{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{#<a href="/logout/">退出</a>#}
{#<h1>登录成功</h1>#}
{##}
{#</body>#}
{#</html>#}
{% extends 'base.html' %}

{% block title %}
接口自动化
{% endblock %}


{% block content %}
    {% csrf_token %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle 自动化平台</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">自动化平台</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">帮助</a></li>
            <li><a href="#">退出</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/manage_project/">项目管理</a></li>
            <li><a href="/manage_module/">模块管理</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/manage_case/">用例管理 <span class="sr-only">(current)</span></a></li>
            <li><a href="">任务管理</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Mock Server</a></li>
            <li><a href="">测试工具</a></li>
          </ul>
        </div>


          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    {#          <h1 class="page-header">postman</h1>#}

              <div class="row placeholders">
              </div>
              <h4 class="sub-header">POSTMAN</h4>
    {#          <div class="table-responsive">#}
              <div class="row">
                  <div class="col-sm-12">
                      <div style="margin-left: 20px;margin-right: 20px; width: 80%">

                          <!--URL-->
                          <div class="input-group">
                              <span class="input-group-addon" style="margin-top: 5px;margin-right: 10px;"> * URL：</span>
                              <input id="req_url" type="text" class="form-control" value="http">
                          </div>

                          <!--请求方法-->
                          <div class="create-option" style="margin-top: 10px;">
                              <label>* 请求方法：</label>
                              <label class="radio-inline">
                                  <input type="radio" name="req_method" id="get" value="get" checked> GET
                              </label>
                              <label class="radio-inline">
                                  <input type="radio" name="req_method" id="post" value="post"> POST
                              </label>
                          </div>

                          <!--请求头-->
                          <div class="input-group">
                              <span class="input-group-addon" style="margin-top: 5px;margin-right: 10px;"> header：</span>
                              <input id="header_editor" type="text" class="form-control" value="header">
                          </div>

                          <!--参数类型-->
                          <div style="margin-top: 10px;">
                              <label>* 参数类型：</label>
                              <label class="radio-inline">
                                  <input type="radio" name="par_type" id="form" value="form" checked> form-data
                              </label>
                              <label class="radio-inline">
                                  <input type="radio" name="par_type" id="json" value="json"> JSON
                              </label>
                          </div>

                          <!--参数值-->
                          <div class="input-group">
                              <span class="input-group-addon" style="margin-top: 5px;margin-right: 10px;">参数：</span>
                              <textarea id="parameters" class="form-control" name="project_describe" placeholder="请输入文本"></textarea>
                          </div>
                          <small id="emailHelp" class="form-text text-muted">说明：以字典的方式设置参数，如：{"id":1, "name":"名称"}.</small>

                          <!--发送按钮-->
                          <div style="float: right;margin-right: 10px;margin-top: 10px;">

                              <button type="button" class="btn btn-primary" onclick="sendFun()">发送</button>
                          </div>

                          <!--接口返回值-->
                          <div style="margin-top: 30px;">
                              <p>返回结果：</p>
                              <textarea id="result" class="form-control" rows="10" name=textarea></textarea>
                          </div>

                          <!--断言按钮-->
                          <div style="float: right;margin-right: 10px; margin-top: 10px">
                              <button type="button" class="btn btn-primary" onclick="assertFun()">断言</button>
                          </div>

                          <!--断言类型-->
                          <div style="margin-top: 30px">
                              <label>* 断言类型：</label>
                              <label class="radio-inline">
                                  <input type="radio" name="assert_type" id="include" value="include" checked> 包含
                              </label>
                              <label class="radio-inline">
                                  <input type="radio" name="assert_type" id="equal" value="equal"> 相等
                              </label>
                          </div>

                          <!--断言内容-->
                          <div style="margin-top: 10px;">
                              <textarea id="assert" class="form-control" rows="5" name=textarea></textarea>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>>

    <script>

        function sendFun(){
            var req_url = $("#req_url").val();
            var req_method = $("input[name='req_method']").val();
            var header_editor = $("#header_editor").val();
            var par_type = $("input[name='par_type']").val();
            var parameters = $("#parameters").val();
            var csrf = $("input[name='csrfmiddlewaretoken']").val();

            if (req_url === ""){
                window.alert("url 不能为空！");
            }

            $.post("/manage_case/debug",
                {
                    req_url:req_url,
                    req_method: req_method,
                    header_editor: header_editor,
                    par_type: par_type,
                    parameters: parameters,
                    csrfmiddlewaretoken: csrf
                },
                function(data, status){
                    $("#result").text(data);
                    console.log("数据："+data+"||"+"状态："+status)
                }
            );
        }

    </script>
{% endblock %}